.page{
    min-height: 1000px;
    background-color: darkgreen;
}
h1{
        color: antiquewhite;
        padding: 20px;
    }
    p{
        color: bisque;
        padding: 40px;
    }
    img{
        padding: 60px;
    }